* {
    -container-bg-color: #ffe0b3;
    -container-border-color: BLACK;
    -container-border-color-2: red;
}

.centeredBox { -fx-alignment: CENTER; }

/* BorderPane Left */
.leftBox {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-background-color: -container-bg-color;
    -fx-pref-width: 250;
}
.leftBox .boxCaption {
    -fx-alignment: CENTER;
}
.leftBox .boxCaption .label {
    -fx-font-weight: BOLD;
    -fx-font-size: 15;
}
.leftBox .gridPane {
    -fx-hgap: 5;
    -fx-vgap: 5;
}
.leftBox .check-box:selected {
    -fx-font-weight: BOLD;
}
.leftBox .scrollPaneCateg {
    -fx-border-color: -container-border-color-2;
    -fx-border-width: 1 0 0 0;
}
.leftBox .scrollPaneCateg .viewport {
    -fx-background-color: -container-bg-color;
}
.leftBox .boxClearOpt .button {
    -fx-min-width: 80;
    -fx-min-height: 30;
}
.leftBox .boxRefresh .button {
    -fx-pref-height: 30;
}
.leftBox .boxScrollPaneCateg {
    -fx-padding: 0;
    -fx-spacing: 0;
    -fx-border-color: -container-border-color-2;
    -fx-border-width: 1;
}

/* BorderPane Center */
.centerBox {
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-background-color: -container-bg-color;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: -container-border-color;
}
.centerBox .table-view {
    -fx-border-color: -container-border-color-2;
}
.centerBox .paneDetails {
    -fx-hgap: 10;
    -fx-vgap: 5;
}
.centerBox .paneDetails .label {
    -fx-font-weight: BOLD;
}

/* BorderPane Right */
.rightBox {
    -fx-spacing: 15;
    -fx-padding: 15;
    -fx-background-color: -container-bg-color;
}
.rightBox .button {
    -fx-font-weight: BOLD;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-wrap-text: true;
    -fx-text-alignment: CENTER;
}