* {
   -bg-color: BLACK;
   -text-color: #99ccff;
}

.borderedRoot {
    -fx-border-color: -text-color;
    -fx-border-width: 2;
}

/* Header box */
.headingBox {
    -fx-padding: 3 5 3 5;
    -fx-alignment: CENTER;
    -fx-border-color: -text-color;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: BLACK;
}

.headingBox .label,
.headingBox .button,
.mediaBarPane .label,
.mediaBarPane .button{
    -fx-text-fill: -text-color;
    -fx-font-weight: BOLD;
}

.headingBox .button,
.mediaBarPane .button {
    -fx-pref-width: 35;
    -fx-pref-height: 25;
    -fx-padding: 0 0 1 0;
    -fx-text-alignment: CENTER;
    -fx-background-color: -bg-color;
    /*
    -fx-border-color: -text-color;
    -fx-border-width: 1;
    */
}

.headingBox .boxIcons {
    -fx-padding: 0;
    -fx-spacing: 20;
}

.headingBox .boxIcons .button {
    -fx-padding: 0;
    -fx-border-width: 0;
}

/* Video Player */
.mediaViewPane {
    -fx-background-color: -bg-color;
    -fx-min-height: 100;
}

/* Media bottom bar */
.mediaBarPane {
    -fx-background-color: -bg-color;
    -fx-border-color: -text-color;
    -fx-border-width: 1 0 0 0;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
/*    -fx-padding: 3 5 3 5; */
    -fx-padding: 5;
}

.mediaBarPane .lessSpacingBox {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}

.mediaBarPane .label {
    -fx-min-width: 40.0;
    -fx-max-width: 40.0;
}

/* sliders style */
.mediaBarPane .slider .thumb {
    -fx-padding: 7 3 7 3;
    -fx-background-color: -text-color;
}

.mediaBarPane .slider .track {
    -fx-padding: 1 0 0 0;
    -fx-background-color: -text-color;
}
