.container {
    -fx-padding: 15;
    -fx-spacing: 15;
    -fx-background-color: RED;
    -fx-alignment: CENTER;
}

.container .button {
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-wrap-text: true;
    -fx-text-alignment: CENTER;
    -fx-font-weight: BOLD;
}