.leftBox { -fx-background-color: -container-bg-color }

.leftBox .list-view {
    -fx-pref-width: 500;
}

.choosePane {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-min-width: 300;
    -fx-border-width: 1;
    -fx-border-color: BLACK;
}

.lblTitle {
    -fx-font-size: 24;
}

.catCont {
    -fx-spacing: 120;
}
.scrollPaneCategories {
    -fx-alignment: CENTER;
}

.boxButtons .button {
    -fx-min-width: 80;
    -fx-min-height: 30;
}
.boxButtons {
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

.boxCategories {
    -fx-spacing: 10;
    -fx-background-color: #c0c0c0;
}

.boxCategories .subBox { -fx-spacing: 3; }

.scrollPaneCategories, .simpleBorder {
    -fx-border-color: BLACK;
    -fx-border-width: 1;
}
.scrollPaneCategories .viewport {
    -fx-background-color: #c0c0c0;
}

.label.boldText { -fx-font-weight: BOLD; }

.check-box:selected {
    -fx-font-weight: BOLD;
}

.button.bigButton,
.bigButtonBox .button {
    -fx-pref-width: 100;
    -fx-pref-height: 50;
}